.product-actions {
  margin: 1rem 0;
  height: 35px;

  .product-actions__action {
    display: inline-block;
    color: #fff;
    padding: 0.35rem 0.75rem;
    background: $main-color;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .counter {
    float: left;
    margin-right: 1rem;
  }
}