<section class="product-actions">
    <counter value="vm.cartQuantity"></counter>
    <span class="product-actions__action" title="Add to shopping cart" ng-click="vm.addToCart()"><i class="fi-shopping-cart"></i></span>
    <span class="product-actions__action" title="Ask a question about this product" ng-click="vm.askQuestion()"><i class="fi-mail"></i></span>
</section>