<!-- Large-up -->
<div class="side-bar--left show-for-large-up">
    <ul class="social-icons float-box show-for-large-up">
        <li class="left">
            <a class="social-btn fb-btn" href="" title="itprints3d on facebook">
                <i class="fi-social-facebook"></i>
            </a>
        </li>
        <li class="left">
            <a href="" class="social-btn google-plus-btn" title="itprints3d on google plus">
                <i class="fi-social-google-plus"></i>
            </a>
        </li>
        <li class="left">
            <a class="social-btn twitter-btn" href="" title="itprints3d on twitter">
                <i class="fi-social-twitter"></i>
            </a>
        </li>
    </ul>

    <hr class="menu-divider"/>

    <nav class="menu--large-up show-for-large-up" ng-controller="sidebarCtrl as vm">
        <a class="menu-item" ui-sref="printers">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text" ui-sref="printers">Printers</span>
        </a>
        <a class="menu-item" ui-sref="scanners">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text">Scanners</span>
        </a>
        <a class="menu-item" ui-sref="designers">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text">Designers</span>
        </a>
        <a class="menu-item" ui-sref="print">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text">Print</span>
        </a>
        <a class="menu-item" ui-sref="blog">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text">Blog</span>
        </a>
        <a class="menu-item" ui-sref="about-us">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text">About Us</span>
        </a>
        <a class="menu-item" ui-sref="contact-us">
            <i class="fi-thumbnails"></i>
            <span class="menu-item__text">Contact Us</span>
        </a>
    </nav>

    <hr class="menu-divider"/>

    <div class="side-bar__subscribe">
        <hgroup>
            <h2><span>Subscribe</span></h2>
            <h3>Get exclusive deal offers delivered right to your inbox</h3>
        </hgroup>

        <input class="side-bar__subscribe-email" type="text" placeholder="email"/>
        <i class="fi-arrow-right subscribe-email__btn" ng-click="vm.subscribe()" title="subscribe"></i>
    </div>

    <div class="side-bar__trademark">
        © 2014 itPrints3d.com
        Designed by <a href="" title="itprints3d.com">It Prints 3D LTD</a>.
    </div>
</div>

<!-- Medium -->
<div class="side-bar--left show-for-medium-only">
    <nav class="menu--medium" ng-controller="sidebarCtrl as vm">
        <a class="menu-item" ui-sref="home">
            <i class="fi-home"></i>
            <span>Home</span>
        </a>
        <a class="menu-item" ui-sref="printers">
            <i class="fi-print"></i>
            <span>Printers</span>
        </a>

        <a class="menu-item" ui-sref="scanners">
            <i class="fa fa-file-photo-o"></i>
            <span>Scanners</span>
        </a>

        <a class="menu-item" ui-sref="designers">
            <i class="fi-lightbulb"></i>
            <span>Designers</span>
        </a>

        <a class="menu-item" ui-sref="blog">
            <i class="fa fa-file-photo-o"></i>
            <span>Blog</span>
        </a>

        <a class="menu-item" ui-sref="about-us">
            <i class="fa fa-file-photo-o"></i>
            <span>About Us</span>
        </a>

        <a class="menu-item" ui-sref="contact-us">
            <i class="fa fa-file-photo-o"></i>
            <span>Contact Us</span>
        </a>
    </nav>
</div>

