.header{
  background-color: $secondary-color;
  height: $header-small-height;
  @include border-box;
  color: $header-text-color;
  font-family: $header-font-family;
  @include transition(all, 0.7s, linear, 0s);

  &.open {
    height: $header-small-height + $menu-small-item-wrapper;
  }

  .menu {
    background-color: $menu-bg-color;
    height: $menu-small-item-wrapper;
    overflow: hidden;

    &.ng-hide{
      height: 0;
    }

    .menu__item {
      text-align: center;
      height: 0;

      span {
        display: block;
      }

      @include transition(all, 1.2s, linear, 0s);
    }

    @include transition(all, 0.7s, linear, 0s);
  }

  &.open .menu__item{
    height: 100%;
  }

  .header-main-content {
    position: relative;
    height: $header-small-height;

    .nav__menu-btn-container {
      width: 30%;
      z-index: 100;

      .nav__menu-icon-text {
        &:hover {
          cursor: pointer;
          color: $main-color;
        }
      }
    }
  }

  .header__logo-container {
    width: 0;
    height: 100%;
    text-align: center;

    .header__logo {
      height: $header-small-logo-height;
      max-width: 150px;
      float: left;
      margin-left: 1rem;
    }
  }

  @media #{$large} {
    .header__logo-container {
      width: 60%;
      text-align: left;
      margin-left: 10px;
    }
  }

  .header__search-box {
    width: 25%;
  }
}

@media #{$large}{
  .header{
      position: fixed;
      vertical-align: middle;
      width: 100%;
      height: $header-large-height;
      z-index: 10000;

      .header-main-content {
        height: $header-large-height;

        .header__logo-container {
          height: $header-large-logo-height;

          .header__logo {
            height: $header-large-logo-height;
            max-width: $header-large-logo-width;
          }
        }
      }
  }
}