.main-content{
  @include gradient(#f0f0f0, #ebebeb);
  box-sizing: border-box;
  float: right;
  width: 100%;
}

.panel {
  padding: 1rem;
  background-color: #FFF;
}

.clear {
  clear: both;
}

@media #{$medium-only} {
  .main-content {
    width: calc(100% - #{$medium-nav-width});

    .page {
      margin: 1em 1em 0 1em;
    }
  }
}

@media #{$large} {
  .main-content {
    width: calc(100% - #{$large-nav-width});
    margin-top: $header-large-height;
    padding-top: 5px;

    .page {
      margin: 0.5em 1em 0 1em;
    }
  }
}