.side-bar--left{
  border-right: 1px solid #D5D4D4;
  @include gradient(#ffffff, $third-color);
  float: left;
  width: $large-nav-width;
  margin-top: $header-large-height;

  font-family: $menu-font-family;

  .social-icons {
    li {
      width: $large-nav-width / 3;
      height: 65px;
      text-align: center;
      display: table;
      border-right: 1px solid $border-color;
    }

    .social-btn {
      color: #b2b2b2;
      width: 70px;
      font-size: 2em;
      @include vertical-centering;
      @include transition(all, 0.1s, linear, 0s);
    }

    .fb-btn:hover {
      background-color: #133783;
      font-size: 3em;
      cursor: pointer;
    }

    .twitter-btn:hover {
      background-color: #33CCFF;
      font-size: 3em;
      cursor: pointer;
    }

    .google-plus-btn:hover {
      background-color: #C63D2D;
      font-size: 3em;
      cursor: pointer;
    }
  }

  .menu-divider {
    height: 1px;
    margin: 0;
    background-color: $main-color;
  }

  .menu-item {
    display: block;
    color: #3C3C3C;
    border-bottom: 1px solid #D5D4D4;
    @include transition(all, 0.5s, linear, 0s);

    &:hover {
      background-color: $main-color;
    }
  }

  .menu--large-up {
    .menu-item {
      height: 50px;
      padding: 20px 5px;

      .menu-item__text {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .side-bar__subscribe {
    @include gradient(#7f7f7f, $secondary-color);
    color: #FFF !important;
    padding: 10px 5px;
    overflow: hidden;

    h2 {
      margin-bottom: 10px;
      color: #FFF !important;
    }

    h3 {
      color: #FFF !important;
      font-size: 12px;
    }

    background-color: $secondary-color;

    .side-bar__subscribe-email {
      @include input-dark(80%, #444);

      float: left;
      margin: 10px 0;
    }

    .subscribe-email__btn {
      width: 14%;
      display: inline-block;
      font-size: 1.8em;
      margin-top: 13px;
      margin-left: 5px;
      padding: 0 6px;
      border: 1px solid;
      border-radius: 19px;

      cursor: pointer;
    }
  }

  .side-bar__trademark {
    padding: 10px;
    line-height: 1.5;
    font-size: 12px;
  }
}

@media #{$medium-only}{
  .side-bar--left {
    width: $medium-nav-width;
    margin-top: 0;

    .menu-item {
      height: 80px;
      text-align: center;
      line-height: 1.5;
      padding-top: 10px;

      i {
        display: block;
        font-size: 1.2em;
      }
    }
  }
}