.checkout__page {
  .order-review {
    border: 1px solid #b2b2b2;
  }

  .checkout__price-section .grid__cell {
    border-top: 1px solid #b2b2b2;
  }

  .checkout__actions {
    overflow: hidden;
    border: 1px solid #b2b2b2;
    padding: .5rem;
  }

  .checkout__pay-btn{
    float: right;
    width: auto;
    margin: .2rem
  }
}