<section class="page checkout__page">
    <h1 class="page-title">Checkout</h1>

    <div class="panel" ng-form="checkoutForm">
        <accordion sequential="::true" selected-item="{{ vm.showCheckouMethod() ? 0 : 1 }}">
            <accordion-item header="Checkout Method" ng-show="vm.showCheckouMethod()">
                <div class="grid__table" ng-form="checkoutMethodForm">
                    <div class="grid__cell--simple checkout__method ">
                        <h3>Checkout as Guest</h3>

                        <input id="checkout-email"
                               class="checkout-email"
                               type="email"
                               validation-error="checkoutMethodForm"
                               placeholder="email" name="email"
                               ng-model="vm.orderDetails.email" />
                    </div>
                    <div class="grid__cell--simple checkout__method ">
                        <h3>Login</h3>
                        <ng-include src="'/js/app/partial/login/_login.html'"></ng-include>
                    </div>
                </div>

                <button class="btn btn--main"
                        ng-click="vm.moveToNextStep(checkoutMethodForm.email.$valid)"
                        ng-disabled="!vm.checkoutMethodDetermined(checkoutMethodForm.email.$valid) || checkoutMethodForm.email.$pristine"
                        title="Move to the next step">
                    Continue
                </button>
            </accordion-item>
            <accordion-item header="Billing Information">
                <section class="checkout__billing-information row" ng-form="billingInfoForm">
                    <div class="small-8">
                        <div class="small-12 large-6 columns">
                            <label for="billing-information__title">Title</label>
                            <select name="title" id="billing-information__title"
                                    ng-options="value for value in vm.titleOptions"
                                    ng-model="vm.orderDetails.billingInfo.title">
                                <option value="" selected>Please Select...</option>
                            </select>
                        </div>

                        <div class="columns small-12 large-6">
                            <label for="billing-information__gender">Gender</label>
                            <select name="gender" id="billing-information__gender"
                                    ng-options="value for value in vm.genderOptions"
                                    ng-model="vm.orderDetails.billingInfo.gender">
                                <option value="" selected>Please Select...</option>
                            </select>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="billing-information__first-name"><span class="highlight">* </span>First Name</label>
                            <input name="first-name" id="billing-information__first-name"
                                    ng-model="vm.orderDetails.billingInfo.firstName"
                                    type="text"
                                    validation-error="billingInfoForm"
                                    placeholder="First Name"
                                    required />
                        </div>

                        <div class="small-12 large-6 columns">
                                <label for="billing-information__last-name"><span class="highlight">* </span>Last Name</label>
                                <input name="last-name" id="billing-information__last-name"
                                       ng-model="vm.orderDetails.billingInfo.lastName"
                                       type="text"
                                       validation-error="billingInfoForm"
                                       placeholder="Last Name"
                                       required />
                            </div>

                        <div class="small-12 columns">
                            <label for="billing-information__country"><span class="highlight">* </span>Country</label>
                            <input name="country" id="billing-information__country"
                                   ng-model="vm.orderDetails.billingInfo.country"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="Country"
                                   required />
                        </div>

                        <div class="small-12 columns">
                            <label for="billing-information__company">Company</label>
                            <input name="country" id="billing-information__company"
                                   ng-model="vm.orderDetails.billingInfo.company"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="Company"/>
                        </div>

                        <div class="small-12 columns">
                            <label for="billing-information__house-number"><span class="highlight">* </span>House/Flat Name/number</label>
                            <input name="house-number" id="billing-information__house-number"
                                   ng-model="vm.orderDetails.billingInfo.houseNumber"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="House/Flat Name/number"
                                   required />
                        </div>

                        <div class="small-12 columns">
                            <label for="billing-information__address-line"><span class="highlight">* </span>Address Line 1</label>
                            <input name="address-line" id="billing-information__address-line"
                                   ng-model="vm.orderDetails.billingInfo.addressLine"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="Address Line 1"
                                   required />
                        </div>
                        <div class="small-12 columns">
                            <label for="billing-information__address-line-2">Address Line 2</label>
                            <input name="address-line-2" id="billing-information__address-line-2"
                                   ng-model="vm.orderDetails.billingInfo.addressLine2"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="Address Line 2" />
                        </div>

                        <div class="small-12 large-4 columns">
                            <label for="billing-information__city"><span class="highlight">* </span>City</label>
                            <input name="city" id="billing-information__city"
                                   ng-model="vm.orderDetails.billingInfo.city"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="City"
                                   required />
                        </div>
                        <div class="small-12 large-4 columns">
                            <label for="billing-information__county"><span class="highlight">* </span>County</label>
                            <input name="county" id="billing-information__county"
                                   ng-model="vm.orderDetails.billingInfo.county"
                                   type="text"
                                   validation-error="billingInfoForm"
                                   placeholder="County"
                                   required />
                        </div>
                        <div class="small-12 large-4 columns">
                                <label for="billing-information__postcode"><span class="highlight">* </span>Postcode</label>
                                <input name="postcode" id="billing-information__postcode"
                                       ng-model="vm.orderDetails.billingInfo.postcode"
                                       type="text"
                                       validation-error="billingInfoForm"
                                       placeholder="Postcode"
                                       required />
                            </div>

                        <div class="small-12 large-6 columns">
                            <label for="billing-information__phone-number"><span class="highlight">* </span>Phone Number</label>
                            <input name="phone-number" id="billing-information__phone-number"
                                   ng-model="vm.orderDetails.billingInfo.phoneNumber"
                                   type="tel"
                                   validation-error="billingInfoForm"
                                   placeholder="Phone Number"
                                   required />
                        </div>
                        <div class="small-12 large-6 columns">
                            <label for="billing-information__email"><span class="highlight">* </span>Email</label>
                            <input name="phone-number" id="billing-information__email"
                                   ng-model="vm.orderDetails.billingInfo.email"
                                   type="email"
                                   validation-error="billingInfoForm"
                                   placeholder="Email"
                                   required />
                        </div>

                        <div class="small-12 columns">
                        <label>Deliver To</label>
                        <div class="small-12 columns">
                            <input type="radio" name="deliver-to" ng-model="vm.orderDetails.deliverTo" value="billingAddress" checked /> Address Above
                        </div>
                        <div class="small-12 columns">
                            <input type="radio" name="deliver-to" ng-model="vm.orderDetails.deliverTo" value="otherAddress" /> Different Address
                        </div>
                    </div>
                    </div>
                </section>

                <div class="row">
                    <button class="btn btn--main"
                            ng-click="vm.moveToShippingInformation(billingInfoForm.$valid)"
                            ng-disabled="billingInfoForm.$invalid"
                            title="Move to the next step">
                        Continue
                    </button>
                </div>
            </accordion-item>
            <accordion-item header="Shipping Information">
                <section class="checkout__shipping-information row" ng-form="shippingInfoForm">
                    <div class="small-8">
                        <div class="small-12 columns">
                            <div class="small-12 large-4">
                                <label for="shipping-information__title">Title</label>
                                <select name="title" id="shipping-information__title"
                                        ng-options="value for value in vm.titleOptions"
                                        ng-model="vm.orderDetails.shippingInfo.title">
                                    <option value="" selected>Please Select...</option>
                                </select>
                            </div>
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="shipping-information__first-name"><span class="highlight">* </span>First Name</label>
                            <input name="first-name" id="shipping-information__first-name"
                                   ng-model="vm.orderDetails.shippingInfo.firstName"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="First Name"
                                   required />
                        </div>

                        <div class="small-12 large-6 columns">
                            <label for="shipping-information__last-name"><span class="highlight">* </span>Last Name</label>
                            <input name="last-name" id="shipping-information__last-name"
                                   ng-model="vm.orderDetails.shippingInfo.lastName"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="Last Name"
                                   required />
                        </div>

                        <div class="small-12 columns">
                            <label for="shipping-information__country"><span class="highlight">* </span>Country</label>
                            <input name="country" id="shipping-information__country"
                                   ng-model="vm.orderDetails.shippingInfo.country"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="Country"
                                   required />
                        </div>

                        <div class="small-12 columns">
                            <label for="shipping-information__company">Company</label>
                            <input name="country" id="shipping-information__company"
                                   ng-model="vm.orderDetails.shippingInfo.company"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="Company"/>
                        </div>

                        <div class="small-12 columns">
                            <label for="shipping-information__house-number"><span class="highlight">* </span>House/Flat Name/number</label>
                            <input name="house-number" id="shipping-information__house-number"
                                   ng-model="vm.orderDetails.shippingInfo.houseNumber"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="House/Flat Name/number"
                                   required />
                        </div>

                        <div class="small-12 columns">
                            <label for="shipping-information__address-line"><span class="highlight">* </span>Address Line 1</label>
                            <input name="address-line" id="shipping-information__address-line"
                                   ng-model="vm.orderDetails.shippingInfo.addressLine"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="Address Line 1"
                                   required />
                        </div>
                        <div class="small-12 columns">
                            <label for="shipping-information__address-line-2">Address Line 2</label>
                            <input name="address-line-2" id="shipping-information__address-line-2"
                                   ng-model="vm.orderDetails.shippingInfo.addressLine2"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="Address Line 2" />
                        </div>

                        <div class="small-12 large-4 columns">
                            <label for="shipping-information__city"><span class="highlight">* </span>City</label>
                            <input name="city" id="shipping-information__city"
                                   ng-model="vm.orderDetails.shippingInfo.city"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="City"
                                   required />
                        </div>
                        <div class="small-12 large-4 columns">
                            <label for="shipping-information__county"><span class="highlight">* </span>County</label>
                            <input name="county" id="shipping-information__county"
                                   ng-model="vm.orderDetails.shippingInfo.county"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="County"
                                   required />
                        </div>
                        <div class="small-12 large-4 columns">
                            <label for="shipping-information__postcode"><span class="highlight">* </span>Postcode</label>
                            <input name="postcode" id="shipping-information__postcode"
                                   ng-model="vm.orderDetails.shippingInfo.postcode"
                                   type="text"
                                   validation-error="shippingInfoForm"
                                   placeholder="Postcode"
                                   required />
                        </div>

                        <div class="small-12 columns">
                            <div class="small-12 large-6">
                                <label for="shipping-information__phone-number"><span class="highlight">* </span>Phone Number</label>
                                <input name="phone-number" id="shipping-information__phone-number"
                                       ng-model="vm.orderDetails.shippingInfo.phoneNumber"
                                       type="tel"
                                       validation-error="shippingInfoForm"
                                       placeholder="Phone Number"
                                       required />
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <button class="btn btn--main"
                            ng-click="vm.moveToNextStep(shippingInfoForm.$valid)"
                            ng-disabled="shippingInfoForm.$invalid"
                            title="Move to the next step">
                        Continue
                    </button>
                </div>
            </accordion-item>
            <accordion-item header="Payment Information">
                <section class="checkout__payment-information row" ng-form="paymentInfoForm">
                    <div class="small-8">
                        <div class="small-12 large-8 columns">
                            <label for="payment-information__card-type">Card Type</label>
                            <select name="card-type" id="payment-information__card-type"
                                    ng-options="value for value in vm.cardTypes"
                                    ng-model="vm.orderDetails.paymentInfo.cardType">
                                <option value="" selected>Please Select...</option>
                            </select>
                        </div>

                        <div class="small-12 columns">
                            <label for="payment-information__card-number"><span class="highlight">* </span>Card Number</label>
                            <input name="card-number" id="payment-information__card-number"
                                   ng-model="vm.orderDetails.paymentInfo.cardNumber"
                                   type="text"
                                   validation-error="paymentInfoForm"
                                   placeholder="Card Number"
                                   required />
                        </div>

                        <div class="small-12">
                            <label class="small-12 columns" for="payment-information__start-date-month">Start Date (optional)</label>
                            <div class="small-12 large-6 columns">
                                <select name="start-date-month" id="payment-information__start-date-month"
                                        ng-options="value for value in vm.months"
                                        ng-model="vm.orderDetails.paymentInfo.startDate.month">
                                    <option value="" selected>Month</option>
                                </select>
                            </div>
                            <div class="small-12 large-6 columns">
                                <select name="start-date-year" id="payment-information__start-date-year"
                                        ng-options="value for value in vm.starDateYears"
                                        ng-model="vm.orderDetails.paymentInfo.startDate.year">
                                    <option value="" selected>Year</option>
                                </select>
                            </div>
                        </div>

                        <div class="small-12">
                            <label class="small-12 columns"  for="payment-information__expiry-date-month"><span class="highlight">* </span>Expiry Date</label>
                            <div class="small-12 large-6 columns">
                                <select name="expiry-date-month" id="payment-information__expiry-date-month"
                                        ng-options="value for value in vm.months"
                                        ng-model="vm.orderDetails.paymentInfo.expiryDate.month">
                                    <option value="" selected>Month</option>
                                </select>
                            </div>
                            <div class="small-12 large-6 columns">
                                <select name="expiry-date-year" id="payment-information__expiry-date-year"
                                        ng-options="value for value in vm.expiryDateYears"
                                        ng-model="vm.orderDetails.paymentInfo.expiryDate.year">
                                    <option value="" selected>Year</option>
                                </select>
                            </div>
                        </div>

                        <div class="small-6 columns">
                            <label for="payment-information__security-code"><span class="highlight">* </span>Security Code</label>
                            <input name="security-code" id="payment-information__security-code"
                                   ng-model="vm.orderDetails.paymentInfo.securityCode"
                                   type="text"
                                   validation-error="paymentInfoForm"
                                   ng-maxlength="3"
                                   placeholder="Security Code"
                                   required />
                        </div>

                        <div class="small-6 columns">
                            <label for="payment-information__issue-number">Issue Number (solo Only)</label>
                            <input name="issue-number" id="payment-information__issue-number"
                                   ng-model="vm.orderDetails.paymentInfo.issueNumber"
                                   type="text"
                                   validation-error="paymentInfoForm"
                                   placeholder="Issue Number" />
                        </div>
                    </div>
                </section>

                <div class="row">
                    <button class="btn btn--main"
                            ng-click="vm.moveToNextStep(paymentInfoForm.$valid)"
                            ng-disabled="paymentInfoForm.$invalid"
                            title="Move to the next step">
                        Continue
                    </button>
                </div>
            </accordion-item>
            <accordion-item header="Order Review">
                <div class="order-review">
                    <div class="grid__table">
                        <!-- Header -->
                        <div class="grid__header">
                            <div class="grid__header">
                                <div class="grid__data">
                                    Product Name
                                </div>
                            </div>
                        </div>
                        <div class="grid__header">
                            <div class="grid__header">
                                <div class="grid__data">
                                    Unit Price
                                </div>
                            </div>
                        </div>
                        <div class="grid__header">
                            <div class="grid__data">
                                Qty
                            </div>
                        </div>
                        <div class="grid__header">
                            <div class="grid__data">
                                Subtotal
                            </div>
                        </div>

                        <!-- Grid data -->
                        <div class="grid__row" ng-repeat="product in vm.products">
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ ::product.productName }}
                                </div>
                            </div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ ::product.price | priceFormat }}
                                </div>
                            </div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ ::product.quantity }}
                                </div>
                            </div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ vm.getSubtotal(product) | priceFormat }}
                                </div>
                            </div>
                        </div>
                        <div class="grid__row checkout__price-section">
                            <div class="grid__cell"></div>
                            <div class="grid__cell"></div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    Subtotal
                                </div>
                            </div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ vm.getShoppingCartSubtotal() | priceFormat }}
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__cell"></div>
                            <div class="grid__cell"></div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    Shipping Cost
                                </div>
                            </div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ vm.getShippingCost() | priceFormat }}
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__cell"></div>
                            <div class="grid__cell"></div>
                            <div class="grid__cell">
                                <div class="grid__data text-right bold">
                                    Grand Total
                                </div>
                            </div>
                            <div class="grid__cell">
                                <div class="grid__data">
                                    {{ vm.getShoppingCartSubtotal() + vm.getShippingCost()  | priceFormat }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout__actions">
                    <button class="btn btn--main-light checkout__pay-btn"
                            title="Place oder"
                            ng-click="vm.placeOrder()">
                        Place Order
                    </button>
                </div>
            </accordion-item>
        </accordion>
    </div>

</section>