<div id="transy">
</div>
<div id="wrapper">
    <div class="logo" style="text-align: center">
        <img src="content/images/logo.png" alt="itPrints3d logo" style="width: 80%;"/>
        <h2>
            <strong class="one"></strong>The first 3d printing marketplace<strong class="two"></strong>
        </h2>
    </div>
    <div class="content">
        <p class="big_text"><strong>we are working on something</strong> very interesting!</p>
        <p class="small_text"><strong>be notified.</strong> we just need your email address.</p>
        <form class="form" name="notifyForm" style="text-align: center;">
            <div class="field_content">
                <input class="field" type="email" placeholder="Email Address" name="email" ng-model="email" required/>
                <button class="submit" type="button" ng-disabled="notifyForm.$invalid && !emailSubmitted" ng-click="saveEmail(notifyForm.$invalid)"></button>
            </div>
            <span class="error" ng-show="notifyForm.email.$dirty && notifyForm.email.$invalid">Insert a corrent email address</span>
            <span class="error" ng-show="emailRegistered">We will soon be notified</span>
        </form>
        <div class="clear"></div>
        <ul class="social">
            <li class="pinterest"><a href="#"></a></li>
            <li class="instagram"><a href="#"></a></li>
            <li class="twitter"><a href="#"></a></li>
            <li class="facebook"><a href="#"></a></li>
        </ul>


    </div>
</div>