﻿﻿<div class="ratings {{ (align ? 'type--' + align : '') }}">
    <div class="ratings__component">
        <div class="ratings__stars">
            <span class="icon {{stars[0]}}"></span>
            <span class="icon {{stars[1]}}"></span>
            <span class="icon {{stars[2]}}"></span>
            <span class="icon {{stars[3]}}"></span>
            <span class="icon {{stars[4]}}"></span>
        </div>
    </div>
</div>