<section class="page product__page">
    <section class="image__gallery">
        <product-image-gallery images="vm.images" />
    </section>

    <section class="product__overview panel">
        <h1 class="page-title">{{ ::vm.product.productName }}</h1>

        <span class="product__overview-info">Availability: {{ vm.product.stockAvailability > 0 ? 'In Stock' : 'Out of Stock' }}</span>
        <span class="product__overview-info product__price">{{ vm.product.price | priceFormat }}</span>

        <p class="product__overview-info product__short-description">{{ ::vm.product.productName }}</p>

        <product-actions product="::vm.product" product-image="::vm.images[0]" product-type="{{ ::vm.productType }}"></product-actions>
    </section>

    <br class="clear" />

    <div class="product__tabs">
        <tab-container>
            <tab-item header="Description" unsafe-html="vm.product.description" content-promise="vm.productPromise">
            </tab-item>
            <tab-item header="Reviews">
                Reviews
            </tab-item>
        </tab-container>
    </div>
    </section>
</section>