<!DOCTYPE html>
<html ng-app="underConstruction">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>itPrints3d Comming Soon</title>
    <link href="under-construction/tools/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="under-construction/tools/cufon-yui.js"></script>
    <script type="text/javascript" src="under-construction/tools/Abraham_Lincoln_400.font.js"></script>
    <script type="text/javascript" src="under-construction/tools/Inspiration_400.font.js"></script>
    <script type="text/javascript" src="under-construction/tools/Museo_Slab_100_400-Museo_Slab_700_400.font.js"></script>
    <script type="text/javascript">
        Cufon.replace('.logo h1', {fontFamily: 'Inspiration'});
        Cufon.replace('.logo h2', {fontFamily: 'Museo Slab 100'});
        Cufon.replace('.logo h2 span', {fontFamily: 'Abraham Lincoln'});
        Cufon.replace('p.big_text, p.small_text', {fontFamily: 'Museo Slab 100'});
        Cufon.replace('p.big_text strong, p.small_text strong', {fontFamily: 'Museo Slab 700'});
    </script>


</head>
<body>
    <section class="main-content" ng-view></section>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

    <script src="under-construction/underConstruction.js"></script>
</body>
</html>
