// header
$main-color: #FF6600;
$main-color--light: lighten(#FF6600, 5%);
$secondary-color: #3C3C3C;
$third-color: #dbdbdb;
$header-bg-color: #3C3C3C;
$header-text-color: #FFF;
$menu-bg-color: #222;
$border-color: #ebebeb;

$highlight-color: #F71515;