$header-small-height: 45px;
$header-large-height: 65px;
$menu-small-height: 35px;
$menu-small-item-wrapper: 60px;
$header-small-logo-height: 40px;

// nav
$medium-nav-width: 100px;
$large-nav-width: 250px;

$header-large-logo-width: 220px;
$header-large-logo-height: 40px;