// shared
.product-grid__inner-content {
  margin: 0 !important;
  padding: 0 !important;
}

.grid-type-option {
  float: right;
  font-size: 1.5rem;
  height: 100%;
  padding-top: 5px;
  display: inline-block;
  width: 30px;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $main-color;
  }
}

.grid-type-option--disabled {
  color: $third-color;
}

.grid__select {
  padding: 0;
  height: 30px;
  font-size: 0.65rem;
}

.grid__select-label {
  display: inline-block;
  font-size: 0.65rem;
}

.grid__orderBy-container {
  width: 40%;
  height: 100%;
  float: left;

  .grid__orderBy {
    width: 68%;
    max-width: 270px;
  }
}

.grid__result-count-container {
  width: 38%;
  height: 100%;
  float: right;
  text-align: right;

  .grid__result-count {
    width: 30%;
    max-width: 35px;
  }
}

.footer-element {
  .footer-btn {
    color: inherit;
  }

  &:hover {
    color: $main-color;
  }
}

@media #{$medium} {
  .grid__select {
    font-size: 0.75rem;
  }
}

@media #{$medium} {
  .grid__result-count-container {
    width: 20%;
  }
}

/* ####################################################
                      GRID-VIEW
####################################################*/

.product-grid {
  margin: 0 !important;
  font-family: $header-font-family;
  color: $secondary-color;

  .grid--grid-view {
    font-size: 0.75rem;

    .grid__item {
      $full-height: 200px;
      $header-height: 25px;
      $hover-padding: 5px;
      $back-view-position: calc(-100% - #{$header-height});

      box-sizing: border-box;
      width: 100%;
      height: $full-height;
      overflow: hidden;
      background-color: #fff;
      text-align: center;
      cursor: pointer;

      .grid__item-header {
        height: $header-height;
        padding-left: $hover-padding;
        border-bottom: 1px solid $border-color;

        .product__title {
          width: 75%;
          height: calc(100% - #{$hover-padding});
          margin-top: $hover-padding;
          float: left;
          background-color: #FFF;
          text-align: left;
        }

        .product__price {
          width: 25%;
          height: 100%;
          padding: 5px 0;
          float: left;
          background-color: $main-color;
          color: #FFF;
        }
      }

      .grid__item-content {
        height: $full-height - ($header-height * 2);
        position: relative;
        padding: 0 $hover-padding;
        border-bottom: 1px solid $border-color;

        .grid-content-view {
          width: calc(100% - #{$hover-padding * 2});
          height: 100%;
          @include transition(all, 0.2s, linear, 0s);
        }

        .front-view {
          position: absolute;
          background-color: #FFF;
        }

        .grid__item-img {
          width: 90%;
          height: 90%;
          padding-top: 5%;
        }

        .back-view {
          position: absolute;
          top: $back-view-position;
          background-color: rgba(255, 102, 0, 0.6)
        }
      }

      &:hover {
        background-color: $main-color;
        border-bottom: $hover-padding solid $main-color;

        .grid__item-header,
        .grid__item-content {
          border-bottom: 1px solid $main-color;
        }

        .back-view {
          top: 0 !important;
        }
      }

      .grid__item-footer {
        height: $header-height;
        color: $secondary-color;
        padding: 0 $hover-padding;

        .footer-element {
          width: 50%;
          height: 100%;
          padding: 5px 5px;
          float: left;
          background-color: #FFF;

          .footer-btn {
            color: inherit;

            &:hover {
              color: $main-color;
            }
          }
        }

        .footer-element--left {
          border-right: 1px solid $border-color;
        }
      }
    }
  }
}

@media #{$medium-only}{
  $full-height: 220px;
  $header-height: 35px;
  $back-view-position: calc(-100% - #{$header-height});

  .product-grid {
    .grid--grid-view {
      .grid__item {
        height: $full-height;

        .grid__item-header {
          height: $header-height;

          .product__title {
            padding: 10px;
          }

          .product__price {
            padding: 15px 0;
          }
        }

        .grid__item-content {
          height: $full-height - ($header-height * 2);

          .back-view {
            top: $back-view-position;
          }
        }
        .grid__item-footer {
          font-size: 0.75em;
          height: $header-height;

          .footer-element {
            padding: 15px 10px;
          }
        }
      }
    }
  }
}

@media #{$large-only}{
  $full-height: 300px;
  $header-height: 50px;
  $back-view-position: calc(-100% - #{$header-height});

  .product-grid {
    .grid--grid-view {
      font-size: 1rem;

      .grid__item {
        height: $full-height;

        .grid__item-header {
          height: $header-height;

          .product__title {
            padding: 10px;
          }

          .product__price {
            padding: 15px 0;
          }
        }

        .grid__item-content {
          height: $full-height - ($header-height * 2);

          .back-view {
            top: $back-view-position;
          }
        }
        .grid__item-footer {
          height: $header-height;

          .footer-element {
            padding: 15px 10px;
          }
        }
      }
    }
  }
}


/* ####################################################
                      LIST-VIEW
####################################################*/
$img-width-small: 125px;
$img-width-medium: 200px;
$img-width-large: 20%;

.product-grid {
  .grid--list-view{
     font-size: 0.75rem;

    .grid__item-container {
      margin-bottom: 1rem;
      padding: 5px;

      &:hover {
        background-color: $main-color;
      }
    }

    .grid__item {
      position: relative;
      width: 100%;
      height: 150px;
      overflow: hidden;
      background: #FFF;
      cursor: pointer;

      .grid__item-img-container {
        float: left;
        width: 20%;
        min-width: 125px;
        height: 100%;
        padding: 1rem;
        border-right: 1px solid $third-color;

        .grid__item-img {
          width: 100%;
          min-height: 100px;
        }
      }

      .grid__item-content {
        height: 100%;
        margin-left: $img-width-small;

        .grid__item-header {
          overflow: hidden;

          .product__title {
            width: 60%;
            padding: 0.5rem;
            float: left;
          }

          .product__price {
            float: right;
            padding: 0.5rem;
            color: #FFF;
            background-color: $main-color;
          }
        }

        .grid__item-footer {
          width: calc(100% - #{$img-width-small});
          height: 20%;
          position: absolute;
          bottom: 0;
          border-top: 1px solid $third-color;

          .footer-element {
            width: 50%;
            height: 100%;
            text-align: center;
            float: left;
            line-height: 2;
            border-right: 1px solid $third-color;
          }
        }
      }
    }
  }
}

@media #{$medium}{
  .product-grid {
    .grid--list-view {
      font-size: 1rem;

      .grid__item {
        height: 200px;


        .grid__item-img-container {
          width: $img-width-medium;
        }

        .grid__item-content {
          margin-left: $img-width-medium;

          .grid__item-footer {
            width: calc(100% - #{$img-width-medium});
          }
        }
      }
    }
  }
}

@media #{$large}{
  .product-grid {
    .grid--list-view {
      .grid__item-content {
        margin-left: $img-width-large;

        .grid__item-footer {
          width: calc(100% - #{$img-width-large});


          .footer-element {
            width: 20%;
          }
        }
      }
    }
  }
}