<section class="row product-grid">
    <div class="vertical-divider-3x">
        <div class="grid__orderBy-container" ng-if="::vm.showControls">
            <label for="grid__orderBy" class="grid__select-label">Sort by </label>
            <select id="grid__orderBy" class="grid__select grid__orderBy" ng-model="vm.orderBy" name="orderBy" ng-options="key for (key, value) in vm.ORDER_BY_OPTIONS">
                <option value="">-- Sort By --</option>
            </select>
        </div>

        <i class="fi-list-thumbnails grid-type-option"
           ng-class="{ 'grid-type-option--disabled': vm.mode === vm.Modes.LIST }"
           ng-click="vm.changeView(vm.Modes.LIST)"
           title="Switch to list view"></i>
        <i class="fi-thumbnails grid-type-option"
           ng-class="{ 'grid-type-option--disabled': vm.mode === vm.Modes.GRID }"
           ng-click="vm.changeView(vm.Modes.GRID)"
           title="Switch to grid view"></i>

        <div class="grid__result-count-container" ng-if="::vm.showControls">
            <span class="grid__select-label">{{ vm.resultsLabel }}</span>
            <select class="grid__select grid__result-count" name="itemsPerPage" ng-model="vm.itemsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>

    <hr class="vertical-divider--line"/>

    <div class="product-grid__inner-content large-12 columns">
        <ul class="grid--grid-view small-block-grid-1 medium-block-grid-3" ng-if="vm.mode === vm.Modes.GRID">
            <li ng-repeat="product in vm.products">
                <div class="grid__item">
                    <div class="grid__item-header">
                        <a ng-href="{{ ::vm.productUrl }}/{{ ::product.id }}">
                            <h2 class="product__title ">{{ ::product.productName }}</h2>
                        </a>
                        <span class="product__price">{{ ::product.price | priceFormat }}</span>
                    </div>

                    <div class="grid__item-content">
                        <div class="grid-content-view front-view">
                            <img class="grid__item-img" ng-src="{{ ::vm.getProductUrl(product) }}" alt="product.productName" />
                        </div>
                        <div class="grid-content-view back-view" ng-bind-html="vm.getShortDescription(product)"></div>
                    </div>

                    <div class="grid__item-footer">
                        <div class="footer-element footer-element--left" title="Add to cart">
                            <i class="fi-shopping-cart"></i>
                            <a class="footer-btn" ng-click="vm.addToShoppingCart(product)">Add to Cart</a>
                        </div>
                        <div class="footer-element" title="Add to compare list">
                            <i class="fi-graph-bar"></i>
                            <a class="footer-btn">Compare</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="grid--list-view" ng-if="vm.mode === vm.Modes.LIST">
            <li class="grid__item-container" ng-repeat="product in vm.products">
                <div class="grid__item">
                    <div class="grid__item-img-container">
                        <img class="grid__item-img" ng-src="{{ ::vm.getProductUrl(product) }}" alt="product.productName"/>
                    </div>

                    <div class="grid__item-content">
                        <div class="grid__item-header">
                            <h2 class="product__title ">{{ ::product.productName }}</h2>
                            <span class="product__price">{{ ::product.price | priceFormat }}</span>
                        </div>

                        <div class="product__description"></div>

                        <div class="grid__item-footer">
                            <div class="footer-element" title="Add to cart">
                                <i class="fi-shopping-cart"></i>
                                <a class="footer-btn">Add to Cart</a>
                            </div>
                            <div class="footer-element" title="Add to compare list">
                                <i class="fi-graph-bar"></i>
                                <a class="footer-btn">Compare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <pagination ng-if="::vm.pagination"
            first-text="&laquo;"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            last-text="&raquo;"
            boundary-links='true'
            current-page='vm.currentPage'
            items-per-page="vm.itemsPerPage"
            total-items='vm.totalItems'
            on-select-page="vm.onSelectPage(page)"></pagination>
</section>