<section class="page">
    <section>
        <home-slider />
    </section>

    <product-grid grid-pagination="false" repository="PrinterSuggested" show-controls="false" product-url="printers" />
</section>