.counter {
  height: 100%;
  border:  1px solid $third-color;

  .counter__item {
    width: 2rem;
    height: 100%;
    color: $secondary-color;
    float: left;
    text-align: center;
    line-height: 2;
    text-align: center;
  }

  .counter__btn {
    background-color: $third-color;
    cursor: pointer;
  }

  .counter__value-container {
    width: 3rem;
  }
}