<section class="counter">
    <span class="counter__item counter__btn counter__btn--minus" ng-click="vm.decrement()"><i class="fi-minus"></i></span>
    <span class="counter__item counter__value-container">{{ vm.value }}</span>
    <span class="counter__item counter__btn counter__btn--plus" ng-click="vm.increment()"><i class="fi-plus"></i></span>
</section>