<section class="shopping-cart-widget">
    <a ui-sref="shoppingCart" title="View product in shopping cart">
        <i class="fi-shopping-cart"></i>
        <span>{{ vm.itemsCount }} - {{ vm.subtotal | priceFormat }}</span>
    </a>
</section>