html {
  height: 100%;
}

body {
  background-color: #f0f0f0 !important;
  font-family: $main-font-family !important;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  margin: 5px 0;
  font-family: $heading-font-family;
}

a {
  text-decoration: none;
  color: inherit;
}

* { box-sizing: border-box}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.full{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.no-transition {
  transition: none;
}

.float-box {
  overflow: hidden;
}

.fix-margin {
  margin: 0 !important;
}

.hidden {
  display: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}