label,
.form__label {
  margin: 5px 0;
  font-family: $form-font-family;
}

input,
select {
  font-family: $main-font-family;
}

.input--validation {
  margin-bottom: 5px !important;
}

.input--error {
  background: rgba(255, 0, 0, 0.6) !important;

  #placeholder {
    color: #FFF !important;
  }
}

.error {
  margin-bottom: 0px !important;
}
