// extend the foundation class
.row--glutter {
  margin: 10px 0;
}

@for $i from 1 through 5 {
  .vertical-divider-#{$i}x {
    height: #{$i * 10}px;
  }
}

@for $i from 1 through 5 {
  .horizontal-border-divider-#{$i}x {
    height: 100%;
    border: #{$i}px solid
  }
}

.vertical-divider--line {
  margin: 0.75rem 0;
  clear: none;
}

.two-third {
  width: 75%;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33%;
}

.one-quarter {
  width: 25%;
}

.one-fifth {
  width: 20%;
}




