$main-font-family: 'Ubuntu', sans-serif;
$header-font-family: 'Francois One', sans-serif;
$heading-font-family: 'Francois One', sans-serif;
$form-font-family: 'Francois One', sans-serif; 
$menu-font-family: 'Audiowide', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

label {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}