.product-question {
  overflow: hidden;

  .product-description {
    overflow: hidden;

    .product-img {
      width: 100px;
      float: right;
    }
  }

  .vertical-divider--line {
    clear: both;
  }
}