<section class="product-question">
    <h1>{{ ::vm.product.productName }}</h1>

    <section class="product-description">
        <p>{{ ::vm.product.shortDescription }}</p>
        <img class="product-img" src="{{ ::vm.imageUrl }}" alt="{{ ::vm.product.productName }}"/>
    </section>

    <hr class="vertical-divider--line"/>

    <!-- Form -->
    <form name="productQuestionForm" ng-submit="askQuestion(productQuestionForm.$valid)">
        <div>
            <label for="username" class="form__label">Name</label>
            <input id="username"
                   validation-error="productQuestionForm"
                   type="text"
                   placeholder="Name" name="username"
                   required
                   ng-model="form.username"/>
        </div>

        <div>
            <label for="email" class="form__label">Email</label>
            <input id="email"
                   class="input--validation"
                   validation-error="productQuestionForm"
                   type="email"
                   placeholder="Email" name="email"
                   required
                   ng-model="form.email"/>
        </div>

        <div>
            <label for="question" class="form__label">Question</label>
            <textarea id="question"
                   rows="10"
                   class="input--validation"
                   validation-error="productQuestionForm"
                   placeholder="Ask your question (max 2000 characters)" name="question"
                   required
                   ng-maxlength="2000"
                   ng-model="form.email">
            </textarea>
        </div>

        <button type="submit" class="btn btn--main" ng-disabled="productQuestionForm.$invalid">Send</button>
    </form>
</section>