.accordion-container {

  .accordion-item {
    margin-bottom: 10px;

    .accordion__header{
      padding: 0.5rem;
      margin: 0;
      background-color: $secondary-color;
      color: #FFF;
      cursor: pointer;
    }

    .accordion__content {
      height: 0;
      overflow: hidden;
      border: 1px solid $third-color;
      border-top: none;
      @include transition(all, 0.2s, linear, 0s);
    }
  }

  .accordion-item--selected {
    .accordion__header {
      background-color: $main-color !important;
    }

    .accordion__content {
      height: auto !important;
      padding: 0.5rem;
    }
  }
}