<li class="accordion-item" ng-class="{ 'accordion-item--selected': shouldDisplay }">
    <h2 class="accordion__header no-select" ng-click="select()">{{ ::header }}</h2>

    <section class="accordion__content" ng-transclude></section>
</li>