.btn {
  width: 5rem;
  border: solid 0px;
  line-height: normal;
  margin: 0;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  font-size: 0.8rem;

  padding: 0.5rem;
  color: #FFF;
  cursor: pointer;

  &:focus {
    outline-width: 0 !important;
  }

  &:hover {
    background-color: darken($main-color, 10%);
    font-size: 0.8rem;
  }

  &[disabled]{
    background-color: $main-color--light;

    &:hover {
      background-color: $main-color--light;
    }
  }
}

.btn--main {
  background-color: $main-color;
}

.btn--main-light {
  background-color: $main-color--light;

  &:hover {
    background-color: $main-color;
  }
}