<section class="page login-page">
    <div class="grid__table">
        <section class="grid__cell--simple auth__form" id="login">
            <h1 class="auth__title">Login</h1>

            <ng-include src="'/js/app/partial/login/_login.html'"></ng-include>

        </section>

        <div class="auth__form-divider"></div>

        <section class="grid__cell--simple auth__form">
            <h1 class="auth__title">Register</h1>

            <form name="registrationForm" class="panel" ng-submit="vm.signup()">
                <div>
                    <input id="user-name-reg" type="text"
                           placeholder="Username"
                           name="regUsername"
                           required
                           ng-model="vm.regUsername"
                           validation-error="registrationForm" />
                </div>

                <div>
                    <input id="email-reg" type="email"
                           placeholder="Email"
                           name="regEmail"
                           required
                           ng-model="vm.regEmail"
                           validation-error="registrationForm" />
                </div>

                <div>
                    <input id="password-reg" type="password"
                           placeholder="Password"
                           name="regPassword"
                           required
                           ng-model="vm.regPassword"
                           validation-error="registrationForm"/>
                </div>

                <div>
                    <input id="repeat-password-reg" type="password"
                           placeholder="Password Again"
                           name="regPasswordRepeat"
                           required
                           ng-model="vm.regPasswordRepeat"
                           validation-error="registrationForm"/>
                </div>

                <button type="submit" class="btn btn--main" ng-disabled="vm.shouldDisableRegBtn(registrationForm.$invalid)">Register</button>
            </form>
        </section>
    </div>
</section>