.slider-container {
  position: relative;
  overflow: hidden;

  @include box-shadow("0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset");

  height: 300px;
  width: 100%;

  &:before, &:after {
    content:"";
    position:absolute;
    z-index:-1;

    @include box-shadow(0 0 20px rgba(0,0,0,0.8));
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }

  &:after {
    right:10px;
    left:auto;
    @include transform(skew(8deg) rotate(3deg))
  }

  .slider-splash {
    position: absolute;
    z-index: 1000;
    height: 300px;
    width: 100%;
    background-color: #fff;
    @include transition(all, 1.2s, linear, 0s);
  }

  .slider-splash.ng-hide{
    opacity: 0;
  }

  .arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 1000;
    font-size: 2em;
    margin-top: -16px;
    opacity: 0.1;
    @include transition(all, 1.2s, linear, 0s);

    &:hover {
      opacity: 1;
    }
  }
  .arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 10;
    font-size: 2em;
    margin-top: -16px;
    opacity: 0.1;
    @include transition(all, 1.2s, linear, 0s);

    &:hover {
      opacity: 1;
    }
  }

  .content-slide {
    padding: 20px;
    color: #fff;
  }

  .title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .pagination {
    position: absolute;
    left: 0;
    z-index: 10;
    text-align: center;
    bottom: 5px;
    width: 100%;
  }

  .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
  }

  .swiper-active-switch {
    background: #fff;
  }
}