<section class="slider-container">
    <critical-resource css="/js/third-party/swiper/dist/idangerous.swiper.css"
                             js="/js/third-party/swiper/dist/idangerous.swiper.min.js"
                             loaded="vm.dynamicScriptLoaded"/>

    <div class="slider-splash" ng-show="!vm.dynamicScriptLoaded"><img src="content/images/2.png" style="width: 100%; height: 300px" alt=""/></div>

    <a class="arrow-left" href="#" ng-click="vm.moveLeft()">&#60;</a>
    <a class="arrow-right" href="#" ng-click="vm.moveRight()">&#62;</a>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--First Slide-->
            <div class="swiper-slide">
                <img src="content/images/2.png" style="width: 100%; height: 300px" alt=""/>
            </div>

            <!--Second Slide-->
            <div class="swiper-slide">
                <img src="content/images/1.jpg" style="width: 100%; height: 300px" alt=""/>
            </div>

            <!--Third Slide-->
            <div class="swiper-slide">
                <img src="content/images/2.png" style="width: 100%; height: 300px" alt=""/>
            </div>
            <!--Etc..-->
        </div>
    </div>
    <div class="pagination"></div>
</section>