<section class="login__form" ng-controller="authCtrl as vm">
    <form  name="loginForm" class="panel" ng-submit="vm.login()">
        <div>
            <input id="user-name" type="text"
                   placeholder="Username"
                   name="username"
                   required
                   ng-model="vm.username"
                   validation-error="loginForm" />
        </div>

        <div>
            <input id="password" type="password"
                   placeholder="Password"
                   name="password"
                   required
                   ng-model="vm.password"
                   validation-error="loginForm" />
        </div>

        <button type="submit" class="btn btn--main" ng-disabled="loginForm.$invalid">Login</button>
    </form>
</section>