.shopping-cart {
  border: 1px solid #b2b2b2;

  .shopping-cart__qty {
    width: 3rem;
  }

  .shopping-cart__remove-btn {
    cursor: pointer;

    &:hover {
      color: $main-color;
    }
  }

  .shopping-cart__actions{
    overflow: hidden;
    border-top: 1px solid #b2b2b2;
    padding: 0.5rem;

    .shopping-cart__update-btn,
    .shopping-cart__checkout-btn{
      float: left;
      margin: 0.2rem;
    }

    .btn {
      width: auto;
    }

    .shopping-cart__continue-btn,
    .shopping-cart__clear-btn{
      float: right;
      margin: 0.2rem;
    }
  }
}