<section class="shopping-cart">
    <div class="grid__table">
        <!-- Header -->
        <div class="grid__row">
            <div class="grid__header">

            </div>
            <div class="grid__header">
                <div class="grid__data">
                    Product Name
                </div>
            </div>
            <div class="grid__header">
                <div class="grid__data">
                    Unit Price
                </div>
            </div>
            <div class="grid__header">
                <div class="grid__data">
                    Qty
                </div>
            </div>
            <div class="grid__header">
                <div class="grid__data">
                    Subtotal
                </div>
            </div>
            <div class="grid__header">
                <div class="grid__data">
                </div>
            </div>
        </div>

        <!-- Grid data -->
        <div class="grid__row" ng-repeat="product in vm.products">
            <div class="grid__cell">
                <div class="grid__data">
                    <a href="{{ ::vm.getProductUrl(product) }}">
                        <img ng-src="{{ ::vm.getProductImageUrl(product) }}" alt="product.productName" />
                    </a>
                </div>
            </div>
            <div class="grid__cell">
                <div class="grid__data">
                    {{ ::product.productName }}
                </div>
            </div>
            <div class="grid__cell">
                <div class="grid__data">
                    {{ ::product.price | priceFormat }}
                </div>
            </div>
            <div class="grid__cell">
                <div class="grid__data">
                    <input type="number" ng-model="product.quantity" class="shopping-cart__qty" />
                </div>
            </div>
            <div class="grid__cell">
                <div class="grid__data">
                    {{ vm.getSubtotal(product) | priceFormat }}
                </div>
            </div>
            <div class="grid__cell">
                <div class="grid__data">
                    <i class="fi-x shopping-cart__remove-btn" title="remove product" ng-click="vm.deleteProduct(product)"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="shopping-cart__actions">
        <button class="btn btn--main-light shopping-cart__checkout-btn"
                title="Proceed to checkout"
                ng-click="vm.checkout()">
            Checkout Securely Now
        </button>

        <button class="btn btn--main-light shopping-cart__update-btn"
                title="Update Shopping Cart"
                ng-click="vm.update()">
            Update Shopping Cart
        </button>

        <button class="btn btn--main-light shopping-cart__continue-btn"
                title="Continue Shopping"
                ng-click="vm.continueShopping()">
            Continue Shopping
        </button>
        <button class="btn btn--main-light shopping-cart__clear-btn"
                title="Clear Shopping Cart"
                ng-click="vm.clear()">
            Clear Shopping Cart
        </button>
    </div>
</section>