.product-gallery__image--main {
  min-height: 400px;
  padding: 0.75em 0;
  margin-bottom: 0.25em;
  text-align: center;

  .main__image {
    width: 90%;
  }
}

.product-gallery__image--thumbs {
  position: relative;
  height: 120px;
}