<section class="product-image-gallery">
    <div class="product-gallery__image--main panel">
        <div class="magnifier-thumb-wrapper">
            <img id="grid__item-img" class="main__image" ng-src="{{ vm.selectedImage }}"
                 image-magnifier image="{{ vm.selectedImage }}" large-image="{{ vm.selectedLargeImage }}" />
        </div>
    </div>
    <div class="product-gallery__image--thumbs">
        <!--<carousel images="vm.images" viewable-thumbs="3" selected-image="vm.selectedImage" />-->
        <carousel viewable-thumbs="3" on-slide-selected="vm.selectImage">
            <carousel-item ng-repeat="image in vm.images" selectable="::true" slide-index="::$index">
                <img ng-src="{{ ::image }}" class="slide--image" />
            </carousel-item>
        </carousel>
    </div>
</section>