.login-page {
  .auth__form {
    width: 50%;
    padding: 0 2%;
    margin: 0 auto;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;

    .auth__title {
      margin: 0 !important;
      background: $main-color;
      padding: 5px 0;
      font-size: 140%;
      font-weight: 300;
      text-align: center;
      color: #fff;
    }

    @media #{$medium}{
      .auth__title {
        padding: 20px 0;
      }
    }
  }

  .auth__form-divider {
    @include divider("OR");
    margin: 0 0 1rem;
  }
}