.product__page {
  .image__gallery {
    width: 100%;
    float: left;
  }

  .product__overview {
    width: 100%;
    float: right;
    margin-bottom: 1.25rem;

    .product__overview-info {
      display: block;
      margin: 1rem 0;
    }

    .product__price {
      color: $main-color;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .product__tabs {
    clear: both;
    margin-top: 1em;
  }

  @media #{$medium} {
    .image__gallery {
      width: 40%;
    }

    .product__overview {
      width: 58%;
    }
  }
}