<header class="header grid__table" ng-class="{ open: vm.isMenuVisible }" ng-controller="headerCtrl as vm">
    <nav class="menu show-for-small-only grid__row" ng-show="vm.isMenuVisible">
        <a class="menu__item grid__cell" ui-sref="home">
            <i class="fi-home"></i>
            <span>Home</span>
        </a>

        <a class="menu__item grid__cell" ui-sref="printers">
            <i class="fi-print"></i>
            <span>Printers</span>
        </a>

        <a class="menu__item grid__cell" ui-sref="scanners">
            <i class="fa fa-file-photo-o"></i>
            <span>Scanners</span>
        </a>

        <a class="menu__item grid__cell" ui-sref="designers">
            <i class="fi-lightbulb"></i>
            <span>Designers</span>
        </a>

        <a class="menu__item grid__cell" ui-sref="blog">
            <i class="fa fa-file-photo-o"></i>
            <span>Blog</span>
        </a>

        <a class="menu__item grid__cell" ui-sref="about-us">
            <i class="fa fa-file-photo-o"></i>
            <span>About Us</span>
        </a>

        <a class="menu__item grid__cell" ui-sref="contact-us">
            <i class="fa fa-file-photo-o"></i>
            <span>Contact Us</span>
        </a>
    </nav>
    <section class="header-main-content grid__row">
        <div class="nav__menu-btn-container show-for-small-only header-item grid__cell" ng-click="vm.toggleMenu()">
            <span class="nav__menu-icon-text" title="Show menu"><i class="fi-list"></i> Menu</span>
        </div>

        <div class="header__logo-container header-item grid__cell">
            <a href="/"><img src="/content/images/logo.png" alt="itprints3d logo" class="header__logo show-for-large-only"/></a>
        </div>

        <div class="header__shopping-cart grid__cell">
            <shopping-cart-widget></shopping-cart-widget>
        </div>

        <div class="header__search-box header-item grid__cell">
            <input type="text" class="search-box--dark fix-margin" placeholder="Search"/>
        </div>
    </section>
</header>