
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .carousel__main-area {
    overflow: hidden;
    margin: 0 20px;
    height: 100%;

    .slides-container {
      position: relative;
      height: 100%;
      overflow: hidden;
      transition: all 1s;
    }

    .carousel__slide {
      height: 100%;
      float: left;
      margin: 0 5px;
      overflow: hidden;
    }

    .carousel__slide--selectable .carousel__slide{
      opacity: 0.5;
    }

    .selected-slide .carousel__slide{
      opacity: 1;
    }
  }


  .carousel__arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    background-color: #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;

    &:hover {
      background-color: #3C3C3C;
    }
  }
  .carousel__arrow--left {
    @extend .carousel__arrow;

    &:before {
      display: inline-block;
      border-top: 7.5px solid transparent;
      border-right: 7.5px solid #FFF;
      border-bottom: 7.5px solid transparent;
      border-right-color: #FFF;
      content: '';
      position: absolute;
      color: #FFF;

      top: 3px;
      left: 5px;
    }
  }

  .carousel__arrow--right {
    @extend .carousel__arrow;

    left: 92%;

    &:before {
      display: inline-block;
      border-top: 7.5px solid transparent;
      border-left: 7.5px solid #FFF;
      border-bottom: 7.5px solid transparent;
      border-left-color: #FFF;
      content: '';
      position: absolute;
      color: #FFF;

      top: 3px;
      right: 5px;
    }
  }
}