<section class="carousel">
    <div class="carousel__arrow carousel__arrow--left" ng-click="vm.moveLeft()"></div>

    <div class="carousel__main-area">
        <div class="slides-container" ng-transclude>
        </div>
    </div>

    <div class="carousel__arrow carousel__arrow--right" ng-click="vm.moveRight()"></div>
</section>